* {
    background-color: rgb(17, 85, 107);
    color: rgb(200, 240, 240);
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1,h2 {
    width: auto;
    text-transform: uppercase;
}

p {
    width: auto;
    font-size: larger;
    position: relative;
}

img {
    border-radius: 30px;
}

ul {
    box-sizing: border-box;
    margin: auto;
    padding: 40px;
    float: left;
    list-style:inside;
}

li {
    margin: 10px;
    text-align: left;
}

li:hover {
    color:rgb(110, 126, 148);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: rgb(0, 17, 116);
    text-decoration: none;
}

.stack {
    display: inline-flex;
    width: auto;
    border: solid;
    border-radius: 30px;
}

#shelby {
    float: right;
    width: 55%;
}
